body {
    display: flex;
    flex-direction: column;
    background-color: #cc8800;
    background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-light.png");

}

h1 {
    align-self: center;
}

table {
    width: 95%;
}
tbody {
    text-align: center;
    display: flex;
    flex-direction: column;
}

tr {
    display: flex;
    justify-content: center;
    object-fit: contain;
    
}

button {
    align-self: center;
    padding: 20px 30px;
    background-color: rgb(218, 60, 32);
    color: black;
    margin: 35px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
td {
    display: table-cell;
    vertical-align: inherit;
    width: 100%;
    
}
img {
    width: 100%;
    object-fit: contain;
}